<html>
  <head>
    <title>Busca CEP</title>
  </head>
  <header>
    <nav></nav>
  </header>
  <body>
    <h1>Buscador de CEP</h1>
    <form method="post">
      <label for="buscaCep"/>Digite um CEP</label>
      <input type="text" name="cep" id="buscaCep"/>
      <button type="submit">Buscar</button>
    </form>
  </body>
</html>
